* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

/* Container tổng */
.login-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding-top: 40px;
    text-align: center; /* Căn giữa nội dung theo chiều ngang */
}

/* Phần logo + slogan */
.logo-container {
    width: 100%;
    margin-bottom: 30px;
    text-align: center; /* Căn giữa tất cả nội dung bên trong */
}

.logo {
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    color: #2d4987;
    margin-bottom: 5px;
    display: block; /* Hiển thị trên 1 dòng */
}

.slogan {
    font-size: 14px;
    color: #555;
    margin: 0;
    display: block; /* Nằm dưới logo */
}



/* FORM */
.login-form {
    width: 100%;
}

/* Khung form */
.login-box {
    width: 400px;
    background-color: #fff;
    padding: 24px 30px;
    border-radius: 8px;
    box-shadow: 0 0 19px rgba(0, 0, 0, 0.1);
    margin: 0 auto; /* Căn giữa khung form */
    box-sizing: border-box;
    text-align: left; /* Nội dung bên trong trái */
}

.login-box label {
    font-weight: bold;
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
}

.login-box input {
    width: 100%;
    padding: 10px;
    border: 1px solid #2d4987;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 12px;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    color: #2d4987;
    border-radius: 5px;
    border: 1px solid;
    cursor: pointer;
    font-weight: bolder;
    transition: all 0.3s ease;
    margin-top: 12px;
}

.login-box button:hover {
    color: #ffffff;
    background-color: #2d4987;
    border: none;
}

/* Liên kết bên dưới */
.login-links {
    width: 400px;
    margin: 16px auto 0 auto;
    font-size: 13px;
    overflow: hidden;
}

.login-links a {
    color: #1373E6;
    text-decoration: none;
    float: left;
    width: 50%;
    text-align: left;
}

.login-links a:hover {
    color: #042652;
}

/* Link trở về */
.back {
    width: 400px;
    margin: 12px auto;
    text-align: left;
}

.back a {
    text-decoration: none;
    color: #1373E6;
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
    transition: color 0.3s;
}

.back a:hover {
    color: #042652;
}
